<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app">
        <!-- v-model可用于数据的双向绑定，但是只能使用与表单元素 -->
        <!-- radio不知道怎么绑定 -->
        <input type="text" v-model="student.name" name="" id=""><br>
        <input type="radio" v-model="student.sex" value="男" name="sex" id="">男<br>
        <input type="radio" v-model="student.sex" value="女" name="sex" id="">女<br>
        <input type="text" v-model="student.age" name="" id=""><br>

        <!-- {{student.sex}} -->
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                student: {
                    name: '彭达',
                    sex: '男',
                    age: 21
                }
            }
        })
    </script>
</body>

</html>