<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="value1" name="" id="">
        <select v-model="opt">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model="value2">
        <button @click="calu">=</button>
        <input type="text" v-model="result">
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                value1: 0,
                value2: 0,
                result: 0,
                opt: '+'
            },
            methods: {
                calu() {
                    switch (this.opt) {
                        case '+':
                            this.result = parseFloat(this.value1) + parseFloat(this.value2)
                            break;
                        case '-':
                            this.result = parseFloat(this.value1) - parseFloat(this.value2)
                            break;
                        case '*':
                            this.result = parseFloat(this.value1) * parseFloat(this.value2)
                            break;
                        case '/':
                            this.result = parseFloat(this.value1) / parseFloat(this.value2)
                            break;
                    }
                    console.log('计算结果:' + this.result)

                }
            },
        })
    </script>
</body>

</html>