<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
    <div id="app">
        <!-- 使用component完成学学生信息管理 -->
        <infoManger-component></infoManger-component>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                msg: 'Hello',

            },
            methods: {
                helle() {
                    return 'Hello'
                },
            },

            comments: {
                'infoManger-component': {
                    props: [],
                    data() {
                        return {
                            id: '2',
                            name: '彭达',
                            sex: '',
                            key: '',
                        }
                    },
                    methods: {
                        add() {
                            console.log('点击添加')
                        },
                        reach() {
                            console.log('查询')
                        }
                    },
                    directives: [{
                        focus: {
                            // 指令的定义
                            inserted: function (el) {
                                el.focus()
                            }
                        }
                    },
                    {
                        color: {
                            bind: function (el, binding) {
                                el.style.backgroundColor = binding.value
                            }
                        }
                    }],
                    template: `
        <div id="infoManger">
            <label>
                学号： <input v-model="id" type="text" />
            </label>
            <label>
                姓名: <input v-model="name" type="text" />
            </label>
            <label>
                性别：
                <input v-model="sex" type="radio" value="男" />男
                <input v-model="sex" type="radio" value="女" />女
            </label>
            <label>
                <input type="button" value="添加" @click="add()">
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>
                关键字： <input v-model="key" type="text" @click="reach()" v-focus="" v-color="'pink'" />
            </span>
        </div>`
                }
            }

        })
    </script>
</body>

</html>